body{
    background-color: white;
}
/*login register */
.usuarios{
    margin:0;
    padding:0;
    height: 100%;
    background: rgb(1,131,199);
    background: linear-gradient(0deg, rgba(1,131,199,1) 0%, rgba(0,201,242,1) 100%, rgba(9,9,121,1) 100%);

}
.usuarios,.home-page{
    width: 100vw;
    height: 100vh;
}
.usuarios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container *{
    padding: 2%;
    width: 100%;
    color:black;
}
.container{
    background-color: #55CBFF;
    border-radius: 10%;
    width: 400px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.titulo {
    margin:2%;
    font-weight: bolder;
}
.usuario * input{
   border:0;
   border-radius: 5px;
  
}
.usuario * input:focus{
   outline:0px;
   box-shadow: 0 0 0 2px rgba(41, 50, 60, 0.2);
}

.usuario div:last-child {
   display: flex;
   flex-direction: column;
   text-decoration:none;
   font-weight: bolder;
}
.usuario div:last-child a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.login{
    height: 300px;
}
/* home */
.home-page{
    width:100%;
    display: flex;
    flex-direction: column;
}
/*Navegador*/
.navegador-home{
    width: 100%;
    height: 50px;
    position: fixed;
}
.navegador-home .inside-nav{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.950);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.inside-nav button{
    color:black;
}
.inside-nav strong{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navegador-home .inside-nav a{
    color:black;
    text-decoration: none;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Navegador resposive*/
.navegador-home .sidebar{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar *{
    width: 100%;
    margin-top: 15px;
    text-decoration: none;
    color:black;
}
.menu-button{
    display: none;
}
.contenedor-home{
    width:100%;
    align-self:center;
}
/*Contenedor home*/
.inicio-home{
    color:white;
    background: rgb(255,254,254);
    background: linear-gradient(180deg, rgba(255,254,254,1) 0%, rgba(233,244,255,1) 100%);  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imagen-inicio{
    margin-top: 100px;
}
.inicio-home div{
    margin: 30px;
    width: 70%;
    height: 100px;
    color: black;
    
}
.inicio-buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 60%;
}
.search-bar input{
    width: 80%;
    outline:none;
    border: 1px solid rgba(120, 120, 120, 1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 0;
    padding-left: 20px;
}
.search-bar button{
   cursor: pointer;
   width: 20%;
   border: 1px solid rgba(120, 120, 120, 1);
   border-top-right-radius:10px ;
   border-bottom-right-radius: 10px;
}
.search-bar button:hover{
    background:rgb(110, 110, 110);
}

.imagen-inicio{
    width: 200px;
    height: 200px;
    border-radius: 100%; 
    background-color: black;
}
/* Ventas*/
.ventas{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.ventas div{
    width: 100%;
    height: 50%;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
.ventas div *{
    margin-top: 20px;
}
.ventas .ventas-1 a,.ventas .ventas-2 a{
    color:black;
    text-decoration: none;
    font-weight: bolder;
}
.ventas div p{
    
    width: 80%;
}

/* Carousel*/
.carousel-1{
    margin-top: 20px;
    
}

/* footer */
footer{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background: rgb(43, 42, 42);
    color:rgb(219, 217, 217);
}
.first-element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first-element .one,.first-element .two,.first-element .three{
    width: 33.3%;
    height: 200px;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.one *{
    margin-top: 20px;
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.one *:nth-child(1){
    font-size: x-large;
}
.two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.two div{
    margin-bottom: 20px;   
}

.two form{
    width: 100%;
   
}
.two form input{
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 2px;
    background: none;
    color:white;
    outline: none;
}
.two form button{
    border: none;
    border-radius: 4px;
    background: rgb(233, 123, 123);
    color:white
}
.three{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.three .follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow span,.call span{
    margin-bottom: 10px;
}
.follow div svg{
    margin-left: 10px; 
}
.follow div svg:nth-child(1){
    margin: 0;
}
.three .call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}


@media screen and (max-width: 768px) {
   
    .hideOnMovile{
        display:none;
    }
    .menu-button{
        display: block;
    }
    .logout{
        width: 50%;
    }
    .search-bar input{
        width: 100%;
        border-radius: 10px;
        
    }
    .boton {
        visibility: hidden;
    }
    footer{
        height: 90vh;
    }
    .first-element .one,.first-element .two,.first-element .three{
        width: 100%;
    }
    .first-element{
        flex-direction: column;
        justify-content: center;
    }
    .one{
        text-align: center;
    }
    .two{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .follow,.call{
        width: 50%;
    }
    .follow div svg:nth-child(1){
        margin: 10px;
    }
    .three{
        text-align: center;
    }
   
    
     
}

